.advanced-product-search-form{
  .ap-form-control {
    position: relative;
  }
  .acf-input-prepend {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #999
  }
  .acf-is-prepended {
    padding-left: 40px
  }
  .acf-radio-list{
    padding-left: 0;
    list-style: none;
    input[type=radio]{
      height: auto;
    }
  }
}
.active-filters{
  display:flex;
  width:100%;
  gap:15px;
  margin-top:10px;
  .active-filter{
    button{
      background:none;
      border:1px solid #ddd;
      border-radius:3px;
    }
  }
  button{
    cursor: pointer;
    &:hover{
      border-color:#555;
    }
  }
  #clear-all-filters{
    border: 1px solid #777;
    background: #fff;
    border-radius: 3px;
    padding: 3px 10px;
  }
}
